---
layout: default
rdf_prefix_path: _data/prefixes.pref
---
{% assign courseInstance = page.rdf | rdf_property: 'schema:hasCourseInstance' %}
{% assign educationalAlignment = page.rdf | rdf_property: 'schema:educationalAlignment' %}


<a href="/module">Zurück</a>


<table class="table">

  <tr>
    <th>Modul-Kurzkennzeichen</th>
    <td>{{ page.rdf | rdf_property: 'schema:courseCode' }}</td>
  </tr>

  <tr>
    <th>Modulbezeichnung</th>
    <td>{{ page.rdf | rdf_property: 'schema:name' }}</td>
  </tr> 

  <tr>
    <th>Aufteilung in Lehrveranstaltungen:</th>
    
    <td>
      <ul>
        {% assign resultset = page.rdf | rdf_property: 'schema:learningResourceType', nil, true %}
        {% for result in resultset %}
        <li>{{ result }}</li>
        {% endfor %}
      </ul>
  </tr> 

  <tr>
    <th>Dauer des Moduls:</th>
    <td>{{ courseInstance | rdf_property: 'schema:duration' | remove: 'P' | remove: 'Y' }} Jahre</td>
  </tr>

  <tr>
    <th>Zuordnung zum Curriculum:</th>
    <td>

      {% assign query = 'SELECT DISTINCT ?ao WHERE { ?resourceUri schema:educationalAlignment ?ao . ?ao schema:alignmentType "Zuordnung zum Curriculum" . } ' %}
      {% assign resultset = page.rdf | sparql_query: query %}
        {% for result in resultset %}
        {{ result.ao | rdf_property: 'schema:targetName'  }}
      {% endfor %}

    </td>
  </tr>

  <tr>
    <th>Verwendbarkeit des Moduls:</th>
    <td>{{ page.rdf | rdf_property: 'schema:educationalUse' }}</td>
  </tr>

  <tr>
    <th>Häufigkeit des Angebots von Modulen:</th>
    <td>{{ courseInstance | rdf_property: 'schema:courseMode' }}</td>
  </tr>

  <tr>
    <th>Autor/in:</th>
    <td>
      
        {% assign resultset = page.rdf | rdf_property: 'schema:accountablePerson', nil, true %}
        {% for result in resultset %}
        <li>{{ result | rdf_property: 'schema:honorificPrefix' }} {{ result | rdf_property: 'schema:givenName' }} {{ result | rdf_property: 'schema:familyName' }} {{ result | rdf_property: 'schema:honorificSuffix' }}</li>
        {% endfor %}

    </td>
  </tr>

  <tr>
    <th>Dozent/in:</th>
    <td>
            
        {% assign resultset = courseInstance | rdf_property: 'schema:instructor', nil, true %}
        {% for result in resultset %}
        <li>{{ result | rdf_property: 'schema:honorificPrefix' }} {{ result | rdf_property: 'schema:givenName' }} {{ result | rdf_property: 'schema:familyName' }} {{ result | rdf_property: 'schema:honorificSuffix' }}</li>
        {% endfor %}


    </td>
  </tr>


  <tr>
    <th>Lehrsprache:</th>
    <td>
      
        {% assign resultset = page.rdf | rdf_property: 'schema:inLanguage', nil, true %}
        {% for result in resultset %}
        <li>
        {% if result == "en" %}
          Englisch
        {% endif %}
        {% if result == "de" %}
          Deutsch
        {% endif %}
        </li>
        {% endfor %}

    </td>
  </tr>

  <tr>
    <th>Vorraussetzungen:</th>
    <td>
      
        {% assign resultset = page.rdf | rdf_property: 'schema:coursePrerequisites', nil, true %}
        {% for result in resultset %}
        <li>{{ result }}</li>
        {% endfor %}

    </td>
  </tr>

  <tr>
    <th>Vorraussetzungen:</th>
    <td>
      

        {% assign resultset = page.rdf | rdf_property: 'schema:isBasedOn', nil, true %}
        {% for result in resultset %}
        <li>
                <a href="{{ result | remove: 'https://bmake.th-brandenburg.de/module/' }}.html">{{ result | rdf_property: 'schema:name' }}</a><br />
        </li>{% endfor %}

    </td>
  </tr>

  <tr>
    <th>ECTS-Credits:</th>
    <td>{{ page.rdf | rdf_property: 'schema:educationalCredentialAwarded' }}</td>
  </tr>

  <tr>
    <th>Gesamtworkload und ihre Zusammensetzung:</th>
    <td>
      
      {% assign query = 'SELECT DISTINCT * WHERE { ?resourceUri schema:additionalProperty ?p . ?p schema:name "Aufteilung der Workload in Stunden" . ?p schema:valueReference ?vr .  ?vr schema:value ?h . ?vr schema:name ?name } ' %}
      {% assign resultset = page.rdf | sparql_query: query %}
        {% for result in resultset %}
        <li>{{ result.h  }} Stunden {{ result.name }}</li>
      {% endfor %}

    </td>
  </tr>

  <tr>
    <th>Lehrform/SWS:</th>
    <td>
      

      {% assign query = 'SELECT DISTINCT * WHERE { ?resourceUri schema:additionalProperty ?p . ?p schema:name "Lehrformen mit Präsenzzeiten in Stunden" . ?p schema:valueReference ?vr .  ?vr schema:value ?h . ?vr schema:name ?name } ' %}
      {% assign resultset = page.rdf | sparql_query: query %}
        {% for result in resultset %}
        <li>{{ result.h  }} Stunden {{ result.name }}</li>
      {% endfor %}

    </td>
  </tr>

  <tr>
    <th>Studien-/ Prüfungsleistungen:</th>
    <td>
      
      {% assign query = 'SELECT ?elem WHERE { ?resourceUri schema:about ?r . ?r schema:identifier "Exam" . ?r schema:itemListElement ?elem }' %}
      {% assign resultset = page.rdf | sparql_query: query %}
        {% for result in resultset %}
        <li>{{ result.elem }}</li>
      {% endfor %}

    </td>
  </tr>

 <tr>
    <th>Gewichtung in der Gesamtnote:</th>
    <td>
      {% assign query = 'SELECT DISTINCT ?ao WHERE { ?resourceUri schema:educationalAlignment ?ao . ?ao schema:alignmentType "Gewichtung der Note" . } ' %}
      {% assign resultset = page.rdf | sparql_query: query %}
        {% for result in resultset %}
        {{ result.ao | rdf_property: 'schema:targetName'  }}
      {% endfor %}

    </td>
  </tr>

  <tr>
    <th>Lernergebnisse:</th>
    <td>
      {% assign query = 'SELECT ?elem WHERE { ?resourceUri schema:about ?r . ?r schema:identifier "Results" . ?r schema:itemListElement ?elem }' %}
      {% assign resultset = page.rdf | sparql_query: query %}
        {% for result in resultset %}
        <li>{{ result.elem }}</li>
      {% endfor %}


    </td>
  </tr>


 <tr>
    <th>Inhalte:</th>
    <td>
      {% assign query = 'SELECT ?elem WHERE { ?resourceUri schema:about ?r . ?r schema:identifier "Content" . ?r schema:itemListElement ?elem } ORDER BY ?elem' %}
      {% assign resultset = page.rdf | sparql_query: query %}
        {% for result in resultset %}
        {{ result.elem }}<br />
      {% endfor %}


    </td>
  </tr>

  <tr>
    <th>Lehr- und Lernmethoden:</th>
    <td>
      

        {% assign resultset = page.rdf | rdf_property: 'schema:interactivityType' %}
        {% for result in resultset %}
          <li>{{ result  }}</li>
        {% endfor %}


    </td>
  </tr>

  <tr>
    <th>Literatur:</th>
    <td>


      {% assign query = 'SELECT DISTINCT ?citation (group_concat(?authorName;separator=", ") as ?authors) WHERE { ?resourceUri schema:citation ?citation . ?citation <https://bmake.th-brandenburg.de/module/Author> ?author . ?author rdfs:label ?authorName } GROUP BY ?citation ORDER BY ?elem ' %}
      {% assign resultset = page.rdf | sparql_query: query %}
        {% for result in resultset %}
         <li>

         {{ result.authors }} {{ result.citation | rdf_property: 'schema:headline' }} {{ result.citation | rdf_property: 'schema:bookEdition' }}, {{ result.citation | rdf_property: 'schema:datePublished' }}.

       </li>
      {% endfor %}


    </td>
  </tr>

  <tr>
    <th>Besonderes:</th>
    <td>{{ page.rdf | rdf_property: 'schema:comment' }}</td>
  </tr>

</table>
